# source_up

if [ ! -d ".direnv/python" ]; then
python -m venv .direnv/python
source .direnv/python/bin/activate
pip install -r requirements.txt
fi
source .direnv/python/bin/activate
export PYTHONPATH=$(pwd):$(python -c "import sys;print(':'.join(sys.path))")

unset PS1
